@inherits LayoutComponentBase

<div class="row">
    <div class="col-12">
        <div class="jumbotron mt-5">
            <h1 class="display-4">GitHub User Viewer</h1>
            <p class="lead">
                This simple application queries GitHubs public API to retrieve information on the user entered.
            </p>
        </div>
    </div>
</div>

@Body